body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header,
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

section {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td { 
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}



/* Layout & FlexBox */
/* FlexBox navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  margin-top:  10px auto;
  border-radius: 30px;
}

/* FLEXBOX SECTIONS */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* Background image */
  background-image: 
 
  url(Img/pexels-markusspiske-6502328.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px;
  color: black;
}

section {
  max-width: 600px;
}

/* button */
.btn{
  background: #ff8900;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.btn-2{
  background: black;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px none;
}


/* SKills */
.skills-list{
 display: flex;
 flex-wrap: wrap;
 gap: 0.5rem;
}

.skills-lista span{
  padding: 0.4rem 0.7rem;
  background: #f2f2f2;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  white-space: nowrap;
}


/* Hover Effects */
.btn-2:hover{
  color: #ff9800;
}

nav a:hover {
  color: #ff9800;
}

section:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

/* Contact */
input, textarea{
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* @mediaquery */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 90%;
    margin: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 600px){
  table,
  thead,
  tbody,
  th,
  td,
  tr{
    display: block;
  }
  thead{
    display: none;
  }
tr{
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem;
}
td{
  border: none;
  padding: 0.4rem 0;
}
td::before{
  content: attr(data-label);
  font-weight: bold;
  display: block;
}

caption{
  display: inline;
  margin-left: 20%;
  font-weight: bold;
}

table,
tr th{
  border: none;
}
}

