body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header,
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

section {
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #333;
  padding: 10px;
  text-align: left;
}



/* Layout & FlexBox */
/* FlexBox navigation */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

img {
  margin-top:  10px auto;
  border-radius: 30px;
}

/* FLEXBOX SECTIONS */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* Background image */
  background-image: url(Img/pexels-markusspiske-6502328.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section {
  max-width: 600px;
}


/* Hover Effects */
nav a:hover {
  color: #ff9800;
}

section:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

/* @mediaquery */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 90%;
    margin: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
